#column1 {
  float: left;
  width: 30%;
  background-color: #D3D3D3;
}



h2, h3 {
  text-align: center;
  font-family: Century Gothic, Futura, Verdana, sans-serif;
  
}

p {
  text-align: center;
  font-family: Century Gothic, Futura, Verdana, sans-serif;
}

#searchform {
  text-align: center;
  font-family: Century Gothic, Futura, Verdana, sans-serif;
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#radiusForm {
   width: 40px;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 14px;
	border-width: 1px;
	text-align: center;
}


